* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: space-between;
}
li {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
li:hover {
  color: red;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: brown;
  border-radius: 20px;
  color: wheat;
}
.hero {
  background-color: aqua;
}
.container {
  display: flex;
  padding: 20px;
}
.left {
  width: 50%;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
}
p {
  font-size: 16x;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 10px;
  justify-content: center;
}
.right {
  width: 45%;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 400px;
  width: fit-content;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.tag {
  margin: 10px;
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(223, 241, 241);
  border-radius: 10px;
}
footer {
  margin: 20px;
  height: 300px;
  background-color: black;
  color: white;
  padding: 20px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.fotter-links {
  list-style: none;
}
